html, body, #game {
  width: 100%;
  height: 100%;
  margin: 0px; 
  background: lightgrey;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.no-pointer {
  pointer-events: none;
}

.menu {
  background: rgba(0, 0, 0, 0.67);
  color: white;
  /* border: 2px solid white; */
  border-radius: 4px;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 0.75em;
  pointer-events: auto;
}

.hero-container {
  width: 400px;
}

.hero-info {
  text-align: center;
}

.bar-container {
  height: 1.75em;
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 2px;
  overflow: hidden;
  vertical-align: middle;
  margin: 2px;
  position: relative;
}

.bar-value {
  background-color: rgb(192, 32, 32);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  height: 100%;
  transition: width 0.25s;
  /* opacity: 25%; */
}

.bar-label {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  line-height: 100%;
  opacity: 50%;
}

input[type='text'] {
  margin: 2px;
  flex-grow: 1;
  font-family: inherit;
  border: none;
  background: rgba(0, 0, 0, 0.67);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: inherit;
}

input[type='text']:focus {
  outline: none;
  border-radius: 2px;
  content: normal;
}

.top {
  position: absolute;
  top: 10px;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

.left {
  position: absolute;
  left: 10px;
}

.right {
  position: absolute;
  right: 10px;
}

.modal-parent {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.center {
  text-align: center;
}

.modal {
  /* position: relative; */
  display: inline-block;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 600px;
  text-align: left;
  overflow-y: auto;
}

.chatbox {
  width: 400px;
  height: 150px;
  overflow-y: auto;
  margin-bottom: 5px;
}

.chatbox-input {
  display: flex;
  visibility: visible !important;
  pointer-events: auto !important;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.chatbox-container {
  visibility: hidden;
  /* opacity: 50%; */
  pointer-events: auto;
  bottom: 50px;
}

.chat-line {
}

.chatbox-container:focus-within {
  visibility: visible;
  pointer-events: auto;
  /* opacity: 100%; */
}

td {
  text-align: center;
}

thead td {
  font-weight: bold;
}

.landing-page {
  padding: 10px;
}

.game-end-page {
  padding: 10px;
}

/* #restart-page {
  display: none;
} */

input[type="radio"] {
  vertical-align: bottom;
  /* margin-top: 3%; */
}

input[type="checkbox"] {
  vertical-align: middle;
  /* margin-top: 3%; */
}

.radio-label{
  margin-top: 9%;
}

.checkbox-label{
  margin-top: 9%;
}

.form{
  text-align: left;
}

#rejoin-submit {
  margin-top: 3%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.col > *:not(:last-child) {
  margin-bottom: 10px;
}